<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Home.css">
<!--CSS for Adobe font-->
    <link rel="stylesheet" href="https://use.typekit.net/ixw2rfj.css">
    <title>Home</title>
</head>
<body>
<!--Left button (left side of the screen-->
<button type="button" class="left">
    <p>if you want to</p>
    <h1>learn</h1>
    <p id="history">history, read, watch, listen</p>
</button>
<!--Right button (right side of the screen-->
<button type="button" class="right">
    <p>if you want to take</p>
    <h1>action</h1>
    <p id="sign">sign, donate, protest, call/email</p>
</button>
</body>
</html>