/*Removes outline when you click in google chrome*/
*:focus{
    outline: none;
}
/*Turns body into flex-box for buttons
Makes body the size of the viewport
*/
body {
  margin: 0 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/*Stripped down default CSS and sets button to half of the body which is half the viewport*/
button {
  border-width: 0;
  padding: 0 0;
  height: 100%;
  width: 50%;
}

/*Aligns text on either side of the screen*/
.left,
.right {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Sets text and background color for left button*/
.left {
  background-color: #28272c;
  color: #e6e3db;
}

/*Sets text and background color for right button*/
.right {
  background-color: #e6e3db;
  color: #28272c;
}


/*Causes tex to grow on hover*/
/*Causes tex to grow on hover*/
.leftcontent,
.rightcontent {
  transition: all .3s ease-in-out;
}

.leftcontent:hover,
.rightcontent:hover {
  transform: scale(1.2);
}

/*Sets fonts for all text*/
p,
h1 {
  font-family: "futura-pt";
  font-style: normal;
  margin: 0 0;
}

p {
  font-size: 24px;
}

h1 {
  font-size: 96px;
}

/*Makes bottom text smaller*/
#history,
#sign {
  font-size: 15px;
}

a:link {
  text-decoration: none;
}

.right a:active {
  color: #28272c;
}

.right a:visited {
  color: #28272c;
}

.right a:hover {
  color: #a57456;
}

.left a:active {
  color: #e6e3db;
}

.left a:visited {
  color: #e6e3db;
}

.left a:hover {
  color: #a57456;
}
